hwa_venv/
HW B/venv/
hwc_venv/
HW C/autoencoder_bottleneck_size=16/
HW C/autoencoder_bottleneck_size=64/
HW C/autoencoder_bottleneck_size=128/
HW C/autoencoder_bottleneck_size=256/
data/Planetoid/Cora/processed/data.pt
data/Planetoid/Cora/processed/pre_filter.pt
data/Planetoid/Cora/processed/pre_transform.pt
data/Planetoid/Cora/raw/ind.cora.allx
data/Planetoid/Cora/raw/ind.cora.ally
data/Planetoid/Cora/raw/ind.cora.graph
data/Planetoid/Cora/raw/ind.cora.test.index
data/Planetoid/Cora/raw/ind.cora.tx
data/Planetoid/Cora/raw/ind.cora.ty
data/Planetoid/Cora/raw/ind.cora.x
data/Planetoid/Cora/raw/ind.cora.y
graph_data_decoding_2023.pt
HW C/video_data.npy
